.userPhoto {
    height: 70px;
    width: 70px;
    border-radius: 50%;
}

.selectedPage {
    font-weight: bold;
    color: antiquewhite;
    padding-left: 5px;
}

.pagesCount {
    padding-left: 5px;
}