.nav {
  grid-area: n;
  background-color: rgb(72, 146, 189);
  padding: 10px;
}

.inactive {
  color: white;
  text-decoration: none;
}

.active {
  color: rgb(228, 131, 4);
  text-decoration: none;
  font-weight: bold;
}

.activeFriends {
  font-size: 40px;
  color: rgb(228, 131, 4);
  text-decoration: none;
}

.inactiveFriends {
  font-size: 40px;
  color: white;
  text-decoration: none;
}